h1 {
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.chat_body__messages_wrap {
    max-height: 450px;
    overflow-y: auto;
}

.chat_body__messages_msg_body {
    padding: 0 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.login_signin_wrap {
    margin: 80px auto;
    width: 250px;
}

.chat_header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.chat_wrap {
    padding: 0;
}

.bold {
   font-weight: 600; 
   line-height: 2;
}

.chat_body__new_message_wrap {
    padding: 20px 0px;
}

#conversationTheme,
#conversationRecepients {
    line-height: 2;
    margin-bottom: 10px;
}

.col-xs-12 {
    width: 100%;
    margin: 0 auto;
}
